# Folders list ##########
.idea/
.vagrant/
.vscode/
# Test folders
html/
public/
host1.dev/
host2.dev/
host3.dev/
example-nopath.dev/
example-subpath.dev/
example-nopath.app/
example-subpath.app/


# Files ##########
log/**/*.*
!*.gitkeep